h5{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 14px;
    color: #FFFEFE;
}

.price{
    width: 71px;
    height: 65px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    color: #FFFFFF;
}
.taxes{
    font-family: 'Manrope';
    color: #FFFFFF;
    line-height: 5px;
    font-size: 20px;
    text-align: right;
}

.aLeft{
    position: absolute;
    width: 37px;
    height: 14px;
    left: 10%;
    top: 41%;
}

.aRight{
    position: absolute;
    width: 37px;
    height: 14px;
    right: 29%;
    top: 13.5%;
}

.aLeft{
    position: absolute;
    width: 37px;
    height: 14px;
    left: 28%;
    top: 24.5%;
}

.aDown{
    position: absolute;
    width: 37px;
    height: 14px;
    right: 14%;
    top: 36%;
}